  /* Shoddy CSS Reset for Demo */
* {
	margin: 0;
	padding: 0;
}


  /* Default Formatting */
p {
	margin: 20px 35px 20px;
}


  /* Basic Chatbox Formatting */
#chatBox {
	width: 800px;
	margin: 20px auto;
	margin-bottom: 15px;
}
#chatBox form, .chatMessages {
	width: 100%;
}
#chatBox form input[type=text] {
	padding: 3px;
	border-radius: 8px;
	width: 80%;
}
#chatBox form input[type=submit] {
	border-radius: 8px;
	font-size: 16px;
	padding: 5px;
}


  /* Messages Formatting */
#chatBox>div {
	max-height: 180px;
	overflow-y: scroll;
}
#chatBox>div div {
    font-size: 12px;
	font-family: Helvetica, Georgia, sans-serif;
    line-height: 16px;
}
#chatBox>div div:hover {
	opacity: 0.75;
}


  /* Message Component Formatting */
#chatBox>div .datestamp {
	font-size: 10px;
	font-style: italic;
	margin-right: 8px;
}
#chatBox>div .username {
	margin-right: 10px;
	font-weight: bold;
}
