
  /* Basic Non-Themed Chatbox Formatting */
.chat { float: left; }
#chatBox {
	width: 800px;
	max-height: 200px;
	margin: 0 auto;
	overflow: hidden;
}
#chatBox>p {
	margin: 3px 0;
}
div#upper_section div.user #chatBox>p {
        margin: 3px 0;
        float: none;
}
#chatBox>p a {
	margin-left: 15px;
}
#chatBox>p input[type=text] {
	padding: 5px;
	font-size: 14px;
	border-radius: 8px;
	width: 65%;
}
#chatBox>p input[type=submit] {
	border-radius: 8px;
	font-size: 16px;
	padding: 5px;
	margin-right: 10px;
}
#chatBox>div {
	max-height: 150px;
	overflow-y: scroll;
}
#chatBox>div div {
	padding-right: 45px;
	font-size: 14px;
	font-family: Helvetica, Georgia, sans-serif;
    line-height: 16px;
}
#chatBox>div div:hover {
	opacity: 0.75;
}
#chatBox>div .datestamp {
	font-size: 10px;
	font-style: italic;
	margin-right: 8px;
}
#chatBox>div .username {
	margin-right: 10px;
	font-weight: bold;
}
#chatBox>div div .admin {
	float: right;
	margin-right: -40px;
}
#chatBox>div .admin .ban {
	float: left;
	display: block;
	width: 24px;
	height: 16px;
	background: url('/chat/images/ban.png');
	cursor: pointer;
}
#chatBox>div .admin .del {
	float: left;
	display: block;
	width: 19px;
	height: 16px;
	background: url('/chat/images/delete.png');
	cursor: pointer;
}
